html,
body {
  background: linear-gradient(180deg, #2e2e3a 0%, #0c0c2c 100%);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
